{{!-- <nav class="navbar navbar-light bg-light justify-content-between">
  <div class="container-fluid bg-warning p-3">Admin Panel
      <a href="/admin/adduserFromHead"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add user</button></a>
  </div>
</nav>  --}}
<nav class="navbar navbar-expand-sm navbar-dark" style="background-image: linear-gradient(rgb(34, 32, 32), rgb(52,74,94), black)">
    <div class="container-fluid">
         <a class="navbar-brand" href="#" data-toggle="tooltip" data-placement="bottom" title={{adminName}}><img
                src="/images/manlogo.png" alt="logo"></a><span class="text-light">Admin Panel</span>
        <a href="/admin/adminLogout" class="btn btn-danger">Log out</a>
    </div>
</nav>
