<nav class="navbar navbar-expand-sm navbar-dark" style="background-image: linear-gradient(rgb(34, 32, 32), rgb(52,74,94), black)">
    <div class="container-fluid">
         <a class="navbar-brand" href="#" data-toggle="tooltip" data-placement="bottom" title="{{name}}"><img
                src="/images/manlogo.png" alt="logo"></a>
        <a href="/logout" class="btn btn-danger">Log out</a>
    </div>
</nav>