<div class="card bg-secondary mt-5 ml-5" style="width: 18rem; background-image: linear-gradient(black, rgb(52,74,94), black);">
  <div class="card-body text-center">
    <img src="/images/manlogo.png" alt="">
    <h6 class="card-subtitle mb-2 text-light">{{name}}</h6>
    <p class="card-text text-light">{{mail}}</p>
  </div>
  {{!-- <div class="" style="background-color: rgb(171,229,30); border-bottom-left-radius: 3px; border-bottom-right-radius:3px;">
    
  </div> --}}

</div>